@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body {
    margin: 0;
    background-color: #eff3ff;
    font-family: "Poppins", sans-serif;
}

.pokemon-font {
    font-family: 'Pokemon Solid', sans-serif;
    color: blue;
}

.pokedex-header {
    display: flex;
    justify-content: center;
    background: #fd3333cb;
    opacity: .8;
    height: 8rem;
    padding: 1rem;
}

#search-form {
    text-align: center;
}

.submit:hover{
    cursor: pointer;
}

.pokemon-card{
    position: relative;
    background: radial-gradient(circle at 50% 0%, red 36%, #ffffff 36%);
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.pokemon-card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}

.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
}

.pokemons-container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.favorites {
    width: 350px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.poke-name {
    text-align: center;
    font-weight: 600;
}

.types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.hp span,
.types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
}
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    color: #404060;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
}

.card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}